@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');
header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .profile{
    text-align: center;
}

.profile .image{
    width: 400px;
    height:400px;
    border-radius: 50%;
    border: 5px solid black;
    overflow: hidden;
}



.profile .image img{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.image img:hover{
    transform: scale(2.300);
}



h2{
    font-size: 30PX;
    color: red;
    font-family: "Playwrite AR", cursive;
}

.icon{
 width: 400px;
 display: flex;
 justify-content: space-around;
}


.bi{
    font-size: 35px;
}


.bi-telegram{
    color: rgb(38, 149, 209);
}

    .bi-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        /* Also define standard property for compatibility */
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
}


.bi-youtube{
    color: red;
}



.bi-globe-americas{
    color: blue;
}
    
